{% extends 'base.html.twig' %} {% block title %}Recherche des lieux!{% endblock %} {% block body %}
<div class="container-fluid">
    <h1 class="text-center text-warning my-3">{{ place.name }}</h1>
    <div class="row">
        <div class="col-lg-6">
            <div class="info-place">
                <p class="font-italic"><strong>Adresse</strong> : {{place.adress }}</p>
                <p class="font-italic"><strong>Horraire</strong> : {{place.schedule}}</p>
                <p class="text-break"><strong>Informations</strong> : {{ place.complementinfo }}</p>
                <p class="font-italic"><strong>Crée le</strong> : {{ place.createdat|date('d-m-Y') }}</p>
                <a class="show-review text-warning" href="">Avis</a>
            </div>
            <div class="reviews">
                {% for review in place.reviews %}
                <hr>
                <div class="row">
                    <div class="col-lg-3">
                        <h6 class="">{{ review.user.firstname }} {{ review.user.lastname }} le : {{ review.createdat|date('d-m-Y') }} </h6>
                        <img src="/assets/image/card2.jpg" alt="" class="rounded-circle" style="width: 9rem; height:9rem;">
                    </div>
                    <div class="col-lg-9">
                        <p class="lead">{{ review.rate }}/5</p>
                        <p class="lead">{{review.title}}</p>
                        <p class="lead">{{ review.commentary }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-6">
            <div class="map">
                <p>La map ici</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}